.input-group {
  margin: 20px 0px;
}

tr {
  /* width: 80%; */
  /* border: 1px solid red; */
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
}

svg {
  height: 150px;
}

/* SIZING FOR GOOGLE MAP */
td:first-of-type,
td:first-of-type > div {
  height: 200px;
  width: 250px;
}
