tr {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid red; */
  justify-content: space-around;
  align-items: center;
}

td,
th {
  vertical-align: middle !important;
  text-align: center !important;
}

.input-group {
  margin: 20px 0px;
}

svg {
  height: 150px;
}

/* SIZING FOR GOOGLE MAP */
td:first-of-type,
td:first-of-type > div {
  height: 200px;
  width: 250px;
}

.joke {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 20px 0px;
}
